html,
body {
    background: #000;
    color: #fff;
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow-y: hidden;
    position: relative;
}
.marquee {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    max-width: 12rem;
    user-select: none;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    opacity: 0.8;
}
.title-section {
    width: 100%;
    align-self: center;
    margin-top: 25%;
}
.icon-section {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
i {
    font-size: 3em; /* Adjust the size as needed */
}
.icon-section svg {
    height: 3em;
    width: 100%;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}
.icon-section a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    align-self: center;
}
.icon-section a:hover {
    transform: scale(1.1); /* Slight scale-up on hover */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

h1 {
    font-size: 4rem;
}
h2 {
    overflow-wrap: break-word;
    margin: 0 0.5rem;
}
.bounce-image {
    margin-top: auto;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-right: auto;
    padding: 0 2rem;
    align-items: center;
}
.bounce-image h3 {
    padding: 0;
    margin: 0;
}
.bounce-image img {
    max-height: 2rem;
    margin: 1rem;
    cursor: pointer;
}

#image-list {
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    overflow: auto;
}

#add-image {
    min-height: 1.8rem;
    min-width: 1.8rem;
    margin: 1rem;
    cursor: pointer;
    color: gray;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    border: 2px dashed grey;
}
